<div class=" outgoing  m-4">
    <div class="mt-5">
        <hr />
    </div>
    <div class="graph-wrapper">
      <div class="details">
            <div class="graph-controls d-flex align-items-center justify-content-between py-1 px-3">
              <h2 class="m-0">Overheads</h2>

              <div class="ml-auto Overheads">
                <!-- <div class="ml-auto Overheads"> -->
                <div class="invoice-container">
                    <app-invoice-drop></app-invoice-drop>
                    </div>
                <div class="switch-wrap">
                    <mat-slide-toggle>Auto-send to accountant</mat-slide-toggle>
                </div>
                <div class="switch-wrap">
                  <mat-slide-toggle [(ngModel)]="compareSupplier" (change)="onToggleChange($event)">Compare Suppliers</mat-slide-toggle>
                </div>
                <div class="picker-wrap">
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="dp" [formControl]="date">
                        <mat-hint>MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        startView="multi-year"
                                        (monthSelected)="setMonthAndYear($event, dp)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </div>
              </div>
            </div>
        </div>

        <!-- <div class="summary-section">
            <div class="tile-container">
                <div class="info-box7 l-bg-card2 order-info-box7">
                    <div class="info-box7-block">
                        <h2 class="m-b-20 white">Total Overheads</h2>
                        <h2 class="text-end white">
                            <i class="fa fa-truck float-left"></i>
                            <span>{{ totalOverheads |currency:'GBP'}}</span>
                        </h2>
                        <p class="m-0 text-left" style="font-size:15px">18% Higher Then Last Month</p>
                    </div>
                </div>
                <div *ngIf="selectedSupplierId">
                    <div class="info-box7 l-bg-card1 order-info-box7">
                        <div class="info-box7-block">
                            <h2 class="m-b-20 white text-capitalize">{{ suppliersSearch[selectedSupplierId].name }}</h2>
                            <h2 class="text-end white">
                                <i class="fa fa-truck float-left"></i>
                                <span>{{ suppliersSearch[selectedSupplierId].overhead | currency:'GBP' }}</span>
                            </h2>
                            <p class="m-0 text-left" style="font-size:15px">18% Higher Then Last Month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-container">
                <app-invoice-drop></app-invoice-drop>
                <app-invoice-drop></app-invoice-drop>
            </div>
        </div> -->
    </div>


    <div class="details suppliers mt-4" style="display: flex; align-items: center;">
        <div class="col-md-6">
            <div class="pie-chart row d-flex justify-content-center align-items-center">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels" [responsive]="chartOptions.responsive" [plotOptions]="chartOptions.plotOptions"></apx-chart>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tableBody">
                <div class="table-responsive">
                    <table class="table text-left Foodservice">
                        <tbody>
                            <tr *ngFor="let label of chartOptions.labels; let i = index">
                                <td class="table-back" style="width: 22px; --background-color:  {{chartColorArray[i]}}; --color: {{chartColorArray[i]}};"></td>
                                <td>{{label}}</td>
                                <td> £{{chartOptions.series[i]}} 
                                    <!-- <span>{{ suppliers[i].perc_diff }}</span> -->
                                </td>
                                <td>
                                    {{ ((suppliers[i].overhead / totalOverheads) * 100) | number:'1.2-2' }}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="details suppliers mt-4 ">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <!-- <div class="mb-4 ">
                <app-invoice-drop></app-invoice-drop>
            </div> -->
            <div class="tableBody ">
                <div class="table-responsive ">
                    <table class="table text-center ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Supplier</th>
                                <th>Invoice Date</th>
                                <th>Overhead</th>
                                <th class="text-center ">Download Invoice link</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoices; let i = index">
                                <td class="table-img ">
                                    1
                                </td>
                                <td>{{ invoice.supplier_name }}</td>
                                <td>{{ invoice.date.toDateString() }}</td>
                                <td>£{{ invoice.total }}</td>
                                <td class="text-center ">
                                    <button mat-icon-button (click)="downloadInvoice(invoice.id)">
                                    <mat-icon>cloud_download</mat-icon>
                                </button>
                                </td>
                                <td>
                                    <button mat-icon-button class="btn-tbl-delete ">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>