<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a type="button" [routerLink]="['/venue-admins']">Venue Admins</a></li>
  <li class='breadcrumb-item'><a type="button" [routerLink]="['/venue-admins', 'add-venue-admin']">Add Venue Admin Account</a></li>
</ul>

<div class='page-content-wrap'>
<h1>Add Venue Admin Account</h1>
<div class="card" [formGroup]='addVenueAdminForm'>
    <div class="card-header">
      Add Venue Admin Account
    </div>
    <div class="card-body">
      <div *ngIf='displayEmailExistsModal' class='alert alert-danger'>
        This email address has already been registered.
        <a type="button" href='#' (click)='displayEmailExistsModal = false;' class='close'>&times;</a>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label
              [class.text-danger]='(addVenueAdminForm.controls.firstName.dirty && addVenueAdminForm.controls.firstName.errors)'
              >First Name</label>
              <input formControlName='firstName' (change)='onUserInputEvent()' class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label
                  [class.text-danger]='(addVenueAdminForm.controls.lastName.dirty && addVenueAdminForm.controls.lastName.errors)'
              >Last Name</label>
              <input formControlName='lastName' (change)='onUserInputEvent()' class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label
                  [class.text-danger]='(addVenueAdminForm.controls.email.dirty && addVenueAdminForm.controls.email.errors)'
              >Email</label>
              <input formControlName='email' (change)='onUserInputEvent()' class="form-control" type="email" />
          </div>
      </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
                <label
                [class.text-danger]='(addVenueAdminForm.controls.password.dirty && addVenueAdminForm.controls.password.errors)'
                >Password</label>
                <input formControlName='password' (change)='onUserInputEvent()' class="form-control" type="password" />
                <small>Passwords must be at least 6 characters, with 1 upper case, 1 lower case, 1 number and 1 special character</small>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label
                [class.text-danger]='(addVenueAdminForm.controls.passwordConfirmation.dirty && addVenueAdminForm.controls.passwordConfirmation.errors)'
                >Confirm Password</label>
                <input formControlName='passwordConfirmation' (change)='onUserInputEvent()' class="form-control" type="password" />
            </div>
        </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Assigned Venue</label>
                <select class="form-control" formControlName="assignedVenue" (change)='onUserInputEvent()' >
                  <option *ngFor="let venue of venues" [value]="venue.id">{{ venue.name ? venue.name : "Not Found" }} - {{ venue.address ? venue.address : "Not Found" }}</option>
                </select>
            </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary float-right" [disabled]='!addVenueAdminForm.valid || !validatePassword(addVenueAdminForm.value.password)' (click)='addAdminAccount()'>Add Admin Account +</button>
    </div>
  </div>
</div>
