<section class="content dashboard">
    <div class="container-fluid pt-4">
        <div class="mt-5">
            <hr />
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 order-info-box7 Sales">
                    <div class="info-box7-block">
                        <h4 class="">£{{dashTiles[0].value | number:'.2'}}</h4>
                        <h3 class="sales-h3">Sales</h3>
                        <p class="m-b-0">Last 30 days</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 order-info-box7 Overheads">
                    <div class="info-box7-block">
                        <h4 class=" ">£{{dashTiles[1].value | number:'.2'}}</h4>
                        <h3 class="sales-h3">Overheads</h3>
                        <p class="m-b-0">Last 30 days</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 order-info-box7 bg-white">
                    <div class="info-box7-block">
                        <h4 class=" ">£{{dashTiles[2].value | number:'.2'}}</h4>
                        <h3 class="sales-h3">Avg. Margin</h3>
                        <p class="m-b-0">Last 30 days</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <div class="info-box7 order-info-box7 bg-white">
                    <div class="info-box7-block">
                        <div class="process m-b-20"></div>
                        <h3 class="sales-h3">Occupancy</h3>
                        <p class="m-b-0">Coming Soon</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row mb-5">
            <div class="col-xs-12 col-sm-12 col-md-8" style="width: 70%;">
                <div class="details suppliers mb-3">
                    <div class="mx-3 header d-flex align-items-center justify-content-between my-3">
                        <h2 class="text-left">Sales</h2>

                        <div class="">
                            <h3 class="sales-h3">+34%</h3>
                            <p class="m-0">weekly</p>
                        </div>
                        <div class="">
                            <h3 class="sales-h3">+12%</h3>
                            <p class="m-0">monthly</p>
                        </div>
                        <div class="">
                            <h3 class="sales-h3">+7%</h3>
                            <p class="m-0">yearly</p>
                        </div>
                        <button data-toggle='modal' data-target=".modal.supplier-contact-form" class="btn btn-primary sales_button" type="button">
                          Enter Sales Manually
                        </button>
                        <app-csv-upload style="width: 130px; height: 35px"></app-csv-upload>


                        <div class='modal fade supplier-contact-form'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <form (ngSubmit)="onSubmit(manualSalesFormdata.value)">
                                        <div class='modal-header'>
                                            Enter Sales
                                            <a type="button" class='close' data-dismiss="modal">&times;</a>
                                        </div>
                                        <div class='modal-body'>
                                            <mat-form-field appearance="fill" class="w-100">
                                                <mat-label>Enter a date range</mat-label>
                                                <mat-date-range-input [rangePicker]="picker">
                                                    <input matStartDate placeholder="Start date" #dateRangeStart>
                                                    <input matEndDate placeholder="End date" #dateRangeEnd>
                                                </mat-date-range-input>

                                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-date-range-picker #picker (closed)="handleDateRange(dateRangeStart, dateRangeEnd)"></mat-date-range-picker>
                                            </mat-form-field>

                                            <div class="mt-4">
                                                <h2 class="pb-3">Sales</h2>
                                                <div class="tableBody">
                                                    <div class="table-responsive">
                                                        <table class="table text-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date </th>
                                                                    <th>Total</th>
                                                                    <th>Cash</th>
                                                                    <th>Card</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr *ngFor="let formData of manualSalesFormdata.controls; let i = index" [formGroup]="formData">
                                                                    <td>
                                                                        <div *ngFor="let date of salesDates; let j = index">
                                                                            <ng-container *ngIf="i == j;  then iAmDone;">
                                                                            </ng-container>

                                                                            <ng-template #iAmDone>
                                                                                <p>{{date | date:'EEEE'}}</p>
                                                                                <p>{{date | date:'dd/MM/YYYY'}}</p>
                                                                            </ng-template>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <mat-form-field appearance="outline">
                                                                            <input matInput class="total saleInput" type='tel' name="total" formControlName="total">
                                                                        </mat-form-field>
                                                                    </td>
                                                                    <td>
                                                                        <mat-form-field appearance="outline">
                                                                            <input matInput class="cash saleInput" type='tel' name="cash" formControlName="cash">
                                                                        </mat-form-field>
                                                                    </td>
                                                                    <td>
                                                                        <mat-form-field appearance="outline">
                                                                            <input matInput class="card saleInput" type='tel' name="card" formControlName="card">
                                                                        </mat-form-field>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='modal-footer'>
                                            <button class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
                                            <button type="submit" class='btn btn-success'>Submit</button>
                                            <!-- <button type="submit" data-dismiss='modal' class='btn btn-success'>Sumbit</button> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels">
                    </apx-chart>

                    <div class="d-flex Sales-icon">
                        <div class="btn-group">
                            <label class="btn border-0" [ngClass]="name=='hour' ? 'active' : ''" ng-model="radioModel" uib-btn-radio="'Hour'" (click)="handleChangeTimeFrame($event,'hour')">Hour</label>
                            <label class="btn border-0" [ngClass]="name=='day' ? 'active' : ''" ng-model="radioModel" uib-btn-radio="'Day'" (click)="handleChangeTimeFrame($event,'day')">Day</label>
                            <label class="btn border-0" [ngClass]="name=='week' ? 'active' : ''" ng-model="radioModel" uib-btn-radio="'Week'" (click)="handleChangeTimeFrame($event,'week')">Week</label>
                            <label class="btn border-0" [ngClass]="name=='month' ? 'active' : ''" ng-model="radioModel" uib-btn-radio="'Month'" (click)="handleChangeTimeFrame($event,'month')">Month</label>
                            <label class="btn border-0" [ngClass]="name=='year' ? 'active' : ''" ng-model="radioModel" uib-btn-radio="'year'" (click)="handleChangeTimeFrame($event,'year')">year</label>
                        </div>
                        <div class="ml-auto">
                            <span class="material-symbols-outlined"> search </span>
                            <span class="material-symbols-outlined"> zoom_in </span>
                            <span class="material-symbols-outlined"> zoom_out </span>
                            <span class="material-symbols-outlined text-black-50"> back_hand </span>
                            <span class="material-symbols-outlined cancel text-black-50"> cancel </span>
                            <span class="material-symbols-outlined"> download </span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" style="width: 30%;">
                <div class="card p-4 bg-white">
                    <div class="switch-wrap">
                        <mat-slide-toggle>Auto-send to accountant</mat-slide-toggle>
                    </div>
                    <div class="switch-wrap mt-2">
                        <mat-slide-toggle [(ngModel)]="compareSupplier" (change)="onToggleChange($event)">Compare Suppliers</mat-slide-toggle>
                    </div>
                </div>
                <div class="info-box7 order-info-box7 my-3 bg-white">
                    <div class="info-box7-block position-relative">
                        <h4 class=" ">£{{dashTiles[3].value}}</h4>
                        <h3 class="text-dark m-0">VAT Liability</h3>
                        <p class="m-b-0 d-flex">Last return date:
                            <input class="form-control basicDatepicker bg-transparent" [matDatepicker]="basicDatepicker" #vatLastDate>
                        </p>
                        <div class="calendar-icon">
                            <mat-datepicker-toggle matIconSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #basicDatepicker (closed)="handleVATDate(vatLastDate)"></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="info-box7 order-info-box7 bg-white">
                    <div class="info-box7-block position-relative">
                        <app-calendar></app-calendar>
                        <!-- <h2 class="border-bottom my-3">January 12th</h2>
                        <p class="mb-1 mt-3">10:00 AM - 10:30 AM</p>
                        <h3 class="text-dark">Daily Meeting</h3>
                        <hr/>
                        <p class="mb-1">5:00 PM - 6:00 PM</p>
                        <h3 class="text-dark">Cupping Masterclass</h3>
                        <hr/>
                        <p class="mb-1">8:00 PM - 12:00 PM</p>
                        <h3 class="text-dark">Back to Work Party</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>