<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a routerLink="/influencer-posts">Posts</a></li>
  <li class='breadcrumb-item active'><a [routerLink]="['/influencer-posts', 'create-post']">Create Post</a></li>
</ul>

<div class='page-content-wrap'>
  <h1>Create Post</h1>
  <br>
  <div class="card">
    <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
      Create Post
    </div>
    <div class="card-body" [formGroup]="createPostForm">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>Caption (max characters 1200)</label>
            <textarea class="form-control" formControlName="caption" rows="4" cols="50" maxLength="1200" (change)='onUserInputEvent()' type="text" ></textarea>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Image/Video</label>
              <input class="form-control-file" accept=".png,.jpg,.jpeg,.mp4" (change)='onImageSelected($event)' type="file" />
              <label>Your images & videos will look their best in a square (1:1) format!</label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
          [disabled]='!createPostForm.valid'
          class="btn btn-primary float-right"
          (click)="createPost()"
      >Create Post</button>
    </div>
  </div>
</div>
