<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a routerLink="/supplier-list">Suppliers</a></li>
  <li class='breadcrumb-item active'><a [routerLink]="['/supplier-list', 'create-supplier']">Create Supplier</a></li>
</ul>

<div class='page-content-wrap'>
  <h1>Create Supplier</h1>
  <br>
  <div class="card">
    <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
      Create Supplier
    </div>
    <div class="card-body" [formGroup]="createSupplierForm">
      <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Business Name</label>
                <input class="form-control" formControlName="name" (change)='onUserInputEvent()' type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Company Logo (max 50mb)</label>
              <input class="form-control-file" formControlName="profileImage" accept=".png,.jpg,.jpeg" (change)='onProfileImageSelected($event)' type="file" />
              <p class="text-danger" *ngIf="profileImageError" >File too large!</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>Call to Action</label>
            <input class="form-control" formControlName="tagline" (change)='onUserInputEvent()' type="text" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Website Url (please include https://www.)</label>
              <input class="form-control" formControlName="website" (change)='onUserInputEvent()' type="url" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Marketing Image (max 50mb)</label>
              <input class="form-control-file" formControlName="coverImage" accept=".png,.jpg,.jpeg" (change)='onCoverImageSelected($event)' type="file" />
              <p class="text-danger" *ngIf="coverImageError" >File too large!</p>
          </div>
        </div>
        
      </div>
    </div>
    <div class="card-footer">
      <button
          [disabled]='!createSupplierForm.valid || !websiteValidator.test(createSupplierForm.value.website) || this.coverImageError || this.profileImageError'
          class="btn btn-primary float-right"
          (click)="createSupplier()"
      >Create Supplier</button>
    </div>
  </div>
</div>
