<div class='modal show' *ngIf='passwordResetHasCompleted' style='display: block;'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        Password reset confirmation
        <a type="button" class='close'>&times;</a>
      </div>
      <div class='modal-body'>
        <p>
          Your password has been reset. Please login.
        </p>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' (click)="passwordResetHasCompleted = false">Close</button>
        <button class='btn btn-primary' [routerLink]='["/authentication/sign-in"]'>Continue</button>
      </div>
    </div>
  </div>
</div>

<div class='auth-body-wrap'>
  <form [formGroup]='confirmPasswordResetForm'>
    <div class='background'>

    </div>
    <div class='form-sidebar'>
      <img src='./../../../../assets/branding/logo.png' width='150px'>
      <h4 class='leading'>Reset your password.</h4>

      <div class='form-group'>
        <label>Email</label>
        <input type="email" formControlName='email' class='form-control'>
      </div>
      <div class='form-group password'>
        <label [class.text-danger]='(confirmPasswordResetForm.controls.password.dirty && confirmPasswordResetForm.controls.password.errors)' >Password</label>
        <input type="password" formControlName='password' class='form-control'>
        <small>Passwords must be at least 6 characters, with 1 upper case, 1 lower caseand 1 number</small>
      </div>
      <div class='form-group password'>
        <label [class.text-danger]='(confirmPasswordResetForm.controls.confirmPassword.dirty && confirmPasswordResetForm.controls.confirmPassword.errors)'>Confirm Password</label>
        <input type="password" formControlName='confirmPassword' class='form-control'>
      </div>

      <br>

      <div class='form-group'>
        <button
          [disabled]='!confirmPasswordResetForm.valid || !validatePassword(confirmPasswordResetForm.value.password)'
          (click)='confirmResetPassword()'
          class='btn btn-outline-primary btn-lg float-right'
        >Reset Password</button>
        <button [routerLink]='["/authentication/sign-in"]' class='btn btn-outline-secondary btn-lg float-right'>Cancel</button>
      </div>
    </div>
  </form>
</div>
