
<div class='modal fade view-image'>
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          View Image <a type="button" href='#' class='close' data-dismiss="modal">&times;</a>
        </div>
        <div class='modal-body p-0'>
          <img [src]="viewImage" style="flex: 1" width="100%" />
        </div>
      </div>
  </div>
</div>

<div class='modal fade edit-description'>
  <div class='modal-dialog'>
      <div class='modal-content'>
          <form [formGroup]='editDescriptionForm'>
              <div class='modal-header'>
                Edit Venue Description <a type="button" href='#' class='close' data-dismiss="modal">&times;</a>
              </div>
              <div class='modal-body'>
                  <div class='form-group'>
                      <label>Description (500 character limit)</label>
                      <textarea formControlName='description' class='form-control' maxLength='500' rows="4" cols="50" type='text' placeholder='Tell us about your venue...'></textarea>
                  </div>
              </div>
              <div class='modal-footer'>
                  <button data-dismiss='modal' class='btn btn-secondary'>Cancel</button>
                  <button data-dismiss='modal' (click)='editDescription()' class='btn btn-primary' [disabled]="!editDescriptionForm.valid">Save Changes</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Delete Venue Modal -->
<div class='modal fade confirm-delete-venue'>
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          Delete Venue <a type="button" href='#' class='close' data-dismiss="modal">&times;</a>
        </div>
        <div class='modal-body'>
          Are you sure you would like to delete this venue? This action is irreversible.
        </div>
        <div class='modal-footer'>
            <button data-dismiss='modal' class='btn btn-secondary'>Cancel</button>
            <button data-dismiss='modal' (click)='deleteVenue()' class='btn btn-danger'>Confirm Venue Deletion</button>
        </div>
      </div>
  </div>
</div>
<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a routerLink="/venues">Venues</a></li>
  <li class='breadcrumb-item active'><a [routerLink]="['/venues', venueId]">{{ basicInfo && basicInfo.name ? basicInfo.name : "Loading..." }}</a></li>
</ul>

<div class='page-content-wrap'>
  <h1>Venue Profile</h1>
  <br>
  <div *ngIf='venueCreated' class='alert alert-success'>
    The venue was created!
    <a href='#' (click)='venueCreated = false;' class='close'>&times;</a>
  </div>
  <div *ngIf='venueEdited' class='alert alert-success'>
      The venue was edited!
      <a href='#' (click)='venueEdited = false;' class='close'>&times;</a>
  </div>
  <div *ngIf='postEdited' class='alert alert-success'>
    The post was edited!
    <a href='#' (click)='postEdited = false;' class='close'>&times;</a>
  </div>
  <div *ngIf='postCreated' class='alert alert-success'>
    The post was created!
    <a href='#' (click)='postCreated = false;' class='close'>&times;</a>
  </div>
  <div *ngIf='venueMarkedAsActive' class='alert alert-success'>
    The venue was activated!
    <a href='#' (click)='venueMarkedAsActive = false;' class='close'>&times;</a>
  </div>
  <div *ngIf='venueMarkedAsHidden' class='alert alert-success'>
    The venue was deactivated!
    <a href='#' (click)='venueMarkedAsHidden = false;' class='close'>&times;</a>
  </div>
  
  <div *ngIf='externalLinkUpdated' class='alert alert-success'>
    The external link was updated!
    <a href='#' (click)='externalLinkUpdated = false;' class='close'>&times;</a>
  </div>
  <app-basic-info-container 
    [basicInfo]="basicInfo" 
    [status]="status" 
    [venueId]="venueId"
    [activePermission]="activePermission"
    (toggleStatus)="$event ? makeVenueActive() : deactivateVenue()">
  </app-basic-info-container>
  <br>
  
  <app-gallery-images-container 
    [galleryImages]="galleryImages"
    (addImage)="uploadImage($event)" 
    (deleteImage)="deleteImage($event)">
  </app-gallery-images-container>
  <br> 
  <app-menu-container 
    [menuList]="menus"
    (addMenu)="uploadPdf($event)" 
    (viewMenu)="openMenuPdf($event)" 
    (deleteMenu)="deleteMenu($event)">
  </app-menu-container>
  <br/>
  <app-opening-times-container [openingTimes]="openingTimes" (updateOpeningTime)="saveOpeningTimes($event)"></app-opening-times-container>
  <br>
  <app-posts-container 
    [posts]="posts" 
    [venueId]="venueId"
    (deletePost)="deletePost($event)"
    (createPost)="navigateToCreatePost()"
    (editPost)="navigateToEditPost($event)"
  ></app-posts-container>
  <br>
  <app-venue-admin-container 
    [venueAdmins]="venueAdmins" 
    (createAdmin)="assignAdminUserToVenue()" 
    (editAdmin)="navigateToEditAdminUser($event)" 
    (deleteAdmin)="deleteAdminAccount($event)">
  </app-venue-admin-container>
  <br>
  <app-tags-container [tags]="tags" [availableTags]="availableTags" (updateTags)="editTags($event)"></app-tags-container>
  <br/>
  <app-contact-info-container [phoneNumber]="phoneNumber" [email]="email" (updateContact)="editContactInformation($event)"></app-contact-info-container>
  <br>
  <app-external-link-container [externalLink]="externalLink" (updateLink)="saveExternalLink($event)" (removeLink)="removeExternalLink()"></app-external-link-container>
</div>
