// .toggle-button {
//   width: 140px;
//   height: 46px;
//   border-radius: 30px;
//   background-color: white;
//   border: 1px solid rgb(94, 0, 94);
//   color: rgb(94, 0, 94);
// }
.details {
    padding: 0.5rem;
  }
  
  .sales-gridbox {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    .graph-wrapper,
    .cal-wrapper {
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 10%),
        0px 1px 1px 0px rgb(0 0 0 / 4%), 
        0px 1px 3px 0px rgb(0 0 0 / 2%);
        background-color: #fff;
        border-radius: 0.5rem;
  
      .details{
        padding: 0.75rem;
        
      }
    }
  }
  
  .l-bg-card2 {
    background: linear-gradient(135deg, #d800ff, #c7460f);
    color: #fff;
  }
  
  .l-bg-purple {
    background: linear-gradient(230deg, #759bff, #843cf6);
    color: #fff;
  }
  .l-bg-orange {
    background: linear-gradient(135deg, #ff8900, #c7460f);
    color: #fff;
  }
  .l-bg-card1 {
    background: linear-gradient(to left, #3a7bd5, #3a6073);
    color: #fff;
  }
  .invoice-drop-wrap{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0.5rem;
    --dropper-height: 75px;
    .manual-entry{
      display: grid;
      place-content: center;
      button{
        white-space: normal;
        line-height: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
  .tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    &.summary-wrap {
      grid-template-columns: repeat(5, 1fr);
      margin: 0.75rem 0;
      padding: 1rem;
      background: #fff;
      app-vat-liability {
        border-radius: 2px;
      }
      .tile {
        border: 2px solid #ddd;
        border-radius: 2px;
        display: grid;
        place-items: center;
      }
    }
    .tile {
      text-align: center;
    }
  }
  
  .sales .details {
    // border: 1px solid purple;
    // border-radius: 15px;
    background: #fff;
    border-radius: 10px;
  }
  .sales .col-green {
    color: #198754;
  }
  
  .sales .col-red {
    color: #dc3545;
  }
  
  .sales .font-15 {
    font-size: 15px;
  }
  
  .sales .font-20 {
    font-size: 20px;
  }
  
  .sales .text-muted {
    color: #919aa3;
    margin-bottom: 10px;
  }
  
  .sales h4,
  .h4 {
    font-size: 19px;
    font-weight: bold;
    color: #555;
  }
  
  .sales .tableBody {
    font-size: 14px;
    color: #555;
    padding: 0px 15px 0px 15px;
  }
  
  .sales .table thead tr th {
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
    background-color: #f5f5f5;
    color: #666;
    font-weight: 500;
    border: none;
  }
  
  .sales table tbody td,
  .table-bordered tbody td {
    color: #666;
  }
  
  .sales table tr,
  .table-bordered tr {
    border: none;
    border-bottom: 1px solid #dee2e6;
  }
  
  .sales .l-bg-card2 {
    background: linear-gradient(to right, #c33764, #1d2671);
    color: #fff;
  }
  .sales .m-b-20 {
    margin-bottom: 20px;
  }
  .sales .text-end {
    text-align: right;
  }
  .sales .l-bg-purple {
    background: linear-gradient(230deg, #759bff, #843cf6);
    color: #fff;
  }
  .sales .l-bg-orange {
    background: linear-gradient(135deg, #ff8900, #c7460f);
    color: #fff;
  }
  .sales .l-bg-card1 {
    background: linear-gradient(to left, #3a7bd5, #3a6073);
    color: #fff;
  }
  .white {
    color: #fff;
  }
  .sales .btn-tbl-delete {
    background-color: #ff944f;
    height: 30px;
    width: 30px;
    margin: 2px;
    line-height: 30px;
    color: #fff;
  }
  
  .sales .btn-tbl-edit {
    background-color: #96a2b4;
    height: 30px;
    width: 30px;
    margin: 2px;
    line-height: 30px;
    color: #fff;
  }
  
  .sales .supplierbutton {
    background-color: #c7460f;
    border: 1px solid #c7460f;
    color: #fff;
    padding: 9px;
    text-transform: capitalize;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
      0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: 16px;
    border-radius: 9px;
  }
  
  .sales .supplierbutton:hover,
  .sales .supplierbutton.active {
    background-color: #d800ff;
    border: 1px solid #d800ff;
  }
  
  .sales .selectedDate {
    font-size: 22px;
    font-weight: 600;
  }
  // .row {
  //   display: flex;
  //   justify-content: center;
  //   // align-items: center;
  //   padding: 0.5rem;
  // }
  
  // .container-fluid {
  //   border: 1px solid indigo;
  //   border-radius: 15px;
  // }
  
  .sales::ng-deep {
    .cal-month-view .cal-open-day-events {
      padding: 0px;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: transparent;
      font-size: 18px;
    }
  
    div.cal-cell.cal-past {
      font-size: 0;
    }
    div.cal-cell.cal-past:first-letter {
      font-size: 17px;
    }
    div.cal-cell.cal-today {
      font-size: 0;
    }
    div.cal-cell.cal-today:first-letter {
      font-size: 17px;
    }
    div.cal-cell.cal-future {
      font-size: 0;
    }
    div.cal-cell.cal-future:first-letter {
      font-size: 17px;
    }
    .cal-month-view .cal-day-cell {
      min-height: unset;
    }
    .cal-month-view .cal-cell-top {
      min-height: unset;
      flex: 1;
    }
    .cal-month-view .cal-day-cell.cal-today .cal-day-number {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .cal-month-view .cal-day-number {
      margin: 0;
      padding: 0.5rem;
    }
  }
  