<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a type="button" [routerLink]="['/influencers']">Influencers</a></li>
</ul>

<div class='page-content-wrap'>
    <h1>Search Influencers</h1>
    <br>
    <div *ngIf='influencerDeleted' class='alert alert-success'>
        The influencer was deleted!
        <a href='#' (click)='influencerDeleted = false;' class='close'>&times;</a>
    </div>
    <form [formGroup]="searchForm">
        <div class="card">
            <div class="card-header">
                Search
            </div>
            <div class='card-body'>
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label>Search</label>
                            <input class="form-control" placeholder="Enter the influencer name to search" formControlName="searchText" type="text"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
              <button class='btn btn-primary float-right ml-2 mb-2' (click)="searchInfluencers()">
                Search
              </button>
              <button class='btn btn-secondary float-right ml-2 mb-2' (click)="clearSearch()">
                Clear Search
              </button>
            </div>
        </div>
    </form>
    <br>
    <div class="card">
        <div class="card-body" *ngIf="showInfluencers.length === 0">
          <p>No influencers in the database.</p>
        </div>
        <div class="card-body p-0" *ngIf="showInfluencers.length > 0">
            <div style="overflow-x: auto;">
                <table class="table text-nowrap  table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Influencer</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let influencer of showInfluencers">
                            <td class="influencer">
                                <div class="mr-2" style="background-color: lightgrey; width: 50px; height: 50px">
                                    <img [src]="influencer.profileImageUrl ? influencer.profileImageUrl : '../.././../../assets/template-image.png'" width="50px" height="50px" style="border-radius: 25px; object-fit: cover;" />
                                </div>
                              {{ influencer.name ? influencer.name : "Not Found"}}
                            </td>
                            <td>
                                <button class='btn btn-sm btn-primary mr-1' type='submit' [routerLink]="['/influencers', 'profile', influencer.id]">
                                  Details
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer" *ngIf="influencers.length > 0">
          <div class="row">
              <div class="col-12">
                  <nav>
                      <ul class="pagination mt-3 justify-content-center">
                          <li class="page-item disabled" *ngIf="currentPageNo === 1">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(1)"><i class="fa fa-step-backward"></i></button>
                          </li>
                          <li class="page-item" *ngIf="currentPageNo > 1">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(1)"><i class="fa fa-step-backward"></i></button>
                          </li>
                          <li class="page-item page-item-Left disabled" *ngIf="currentPageNo === 1">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(currentPageNo-1)"><i class="fa fa-chevron-left"></i></button>
                          </li>
                          <li class="page-item page-item-Left" *ngIf="currentPageNo > 1">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(currentPageNo-1)"><i class="fa fa-chevron-left"></i></button>
                          </li>
                              <div *ngFor="let page of availablePages">
                                  <li class="page-item active" *ngIf="currentPageNo === page">
                                      <button class="page-link">{{ page }}</button>
                                  </li>
                                  <li class="page-item" *ngIf="currentPageNo !== page">
                                      <button class="page-link" type="submit" (click)="changePageNo(page)">{{ page }}</button>
                                  </li>
                              </div>
                          <li class="page-item page-item-right disabled" *ngIf="currentPageNo === totalPageCount">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(currentPageNo+1)"><i class="fa fa-chevron-right"></i></button>
                          </li>
                          <li class="page-item page-item-right" *ngIf="currentPageNo < totalPageCount">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(currentPageNo+1)"><i class="fa fa-chevron-right"></i></button>
                          </li>
                          <li class="page-item disabled" *ngIf="currentPageNo === totalPageCount">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(totalPageCount)"><i class="fa fa-step-forward"></i></button>
                          </li>
                          <li class="page-item" *ngIf="currentPageNo < totalPageCount">
                              <button class="page-link page-link-control" type="submit" (click)="changePageNo(totalPageCount)"><i class="fa fa-step-forward"></i></button>
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="col-12">
                  <p class="text-center">
                      You're on page <span class="font-weight-bold">{{ currentPageNo }} of {{ totalPageCount }}</span>,
                      with
                      <select (change)="changeResultsNo($event.target.value)" value="{{ resultsPerPage }}">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                      </select>
                      results per page.
                  </p>
              </div>
          </div>
      </div>
    </div>
</div>
