<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a routerLink="/recommended-searches">Recommended Searches</a></li>
  <li class='breadcrumb-item active'><a [routerLink]="['/recommended-searches', 'create-recommended-search']">Create Recommended Search</a></li>
</ul>

<div class='page-content-wrap'>
  <h1>Create Recommended Search</h1>
  <br>
  <div class="card">
    <div class="card-header" style="display: flex; flex-direction: row; justify-content: space-between;">
      Create Recommended Search
    </div>
    <div class="card-body" [formGroup]="createRecommendedSearchForm">
      <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Text</label>
                <input class="form-control" formControlName="text" (change)='onUserInputEvent()' type="text" />
            </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Icon (max 50mb)</label>
              <input class="form-control-file" formControlName="icon" accept=".png,.jpg,.jpeg" (change)='onImageSelected($event)' type="file" />
              <p class="text-danger" *ngIf="createRecommendedSearchForm.errors">File too large!</p>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>Colour</label>
            <input class="form-control" formControlName="colour" (change)='onUserInputEvent()' type="color" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label>Connected Tag</label>
              <select class="form-control" (change)='onUserInputEvent()' formControlName="connectedTag">
                <option disabled>Select a connected tag</option>
                <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.title ? tag.title : 'Not Found' }} - {{ tag.type ? tag.type : "Not Found" }}</option>
              </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
          [disabled]='!createRecommendedSearchForm.valid'
          class="btn btn-primary float-right"
          (click)="createRecommendedSearch()"
      >Create Recommended Search</button>
    </div>
  </div>
</div>