<h2 mat-dialog-title>Technology</h2>
<div mat-dialog-content>
    <form [formGroup]="vrmTechForm">
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>EPOS Till</mat-label>
                <mat-select formControlName="eposTill">
                    <mat-option *ngFor="let option of displayOptions.eposTill" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Integration</mat-label>
                <mat-select formControlName="integration">
                    <mat-option *ngFor="let option of displayOptions.integration" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class='form-group'>
            <mat-form-field appearance="outline">
                <mat-label>Instagram Handle</mat-label>
                <input matInput formControlName='instaHandle' type='text' placeholder="Enter the Instagram Handle"/>
            </mat-form-field>
        </div>
        <div class='form-group'>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName='instaEnabled'>
              <mat-label>Auto Instagram Enabled</mat-label>
            </div>
        </div>
        <div class='form-group'>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName='instaHashtagReq'>
                <mat-label>Auto Instagram Hashtage Req</mat-label>
            </div>
        </div>
        <div class='form-group'>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName='dashboardEnabled'>
              <mat-label>Dashboard Enabled</mat-label>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Dashboard Data Upload Method</mat-label>
                <mat-select formControlName="dashboardDataMethod">
                    <mat-option *ngFor="let option of displayOptions.dashboardDataMethod" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="actions-container">
    <button mat-button (click)="onUpdate()" [disabled]="">Save Changes</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>