<h2 mat-dialog-title>Tags</h2>
<div mat-dialog-content>
    <form [formGroup]="tagsForm">
    <ul>
        <li *ngFor="let tag of availableTags; let i = index">
            <mat-checkbox 
                ngDefaultControl
                [formControl]="tagFormArray[i]"
                color="primary"
            >{{tag.title}}
            </mat-checkbox>
        </li>
    </ul>
    </form>
</div>
<div mat-dialog-actions class="actions-container">
  <button mat-button (click)="onSave()">Save Changes</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>