<ul class='breadcrumb'>
  <li class='breadcrumb-item'><a type="button" [routerLink]="['/floot-team']">Floot Team</a></li>
  <li class='breadcrumb-item'><a type="button" [routerLink]="['/floot-team', 'edit-team-member', accountId]">Edit Team Member</a></li>
</ul>

<div class='page-content-wrap'>
<h1>Edit Team Member</h1>
<div class="card" [formGroup]='editTeamMemberForm'>
    <div class="card-header">
      Edit Team Member
    </div>
    <div class="card-body">
      <div *ngIf='displayEmailExistsModal' class='alert alert-danger'>
        This email address has already been registered.
        <a type="button" href='#' (click)='displayEmailExistsModal = false;' class='close'>&times;</a>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
              <label
              [class.text-danger]='(editTeamMemberForm.controls.firstName.dirty && editTeamMemberForm.controls.firstName.errors)'
              >First Name</label>
              <input formControlName='firstName' (change)='onUserInputEvent()' class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label
                  [class.text-danger]='(editTeamMemberForm.controls.lastName.dirty && editTeamMemberForm.controls.lastName.errors)'
              >Last Name</label>
              <input formControlName='lastName' (change)='onUserInputEvent()' class="form-control" type="text" />
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label
                  [class.text-danger]='(editTeamMemberForm.controls.email.dirty && editTeamMemberForm.controls.email.errors)'
              >Email</label>
              <input formControlName='email' (change)='onUserInputEvent()' class="form-control" type="email" />
          </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary float-right" [disabled]='!editTeamMemberForm.valid' (click)='saveChanges()'>Save Changes</button>
  </div>
</div>
