<div class='modal show' *ngIf='passwordResetHasCompleted' style='display: block;'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        Password reset confirmation
        <a type="button" class='close'>&times;</a>
      </div>
      <div class='modal-body'>
        <p>
          If the email that you have entered is valid, then a password
          reset email has been sent to the email address attached to the
          account. Should you have any further issues, please contact support.
        </p>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' (click)="passwordResetHasCompleted = false">Close</button>
        <button class='btn btn-primary' [routerLink]='["/authentication/sign-in"]'>Continue</button>
      </div>
    </div>
  </div>
</div>

<div class='auth-body-wrap'>
  <form [formGroup]='passwordResetFormGroup'>
    <div class='background'>

    </div>
    <div class='form-sidebar'>
      <img src='./../../../../assets/branding/logo.png' style="max-height: 100px">
      <h4 class='leading'>Reset your password.</h4>

      <div class='form-group email'>
        <label>Email</label>
        <input formControlName='email' class='form-control'>
        <br>
        <span class='text-secondary'>A link will be sent to the email address connected to your account.</span>
      </div>

      <br>

      <div class='form-group'>
        <button
          [disabled]='passwordResetFormGroup.errors || passwordResetFormGroup.pristine'
          (click)='passwordResetFormSubmit()'
          class='btn btn-outline-primary btn-lg float-right'
        >Send Link</button>
        <button [routerLink]='["/authentication/sign-in"]' class='btn btn-outline-secondary btn-lg float-right'>Cancel</button>
      </div>
    </div>
  </form>
</div>
