<!-- <div class="flex-container">
    <label class="container">
        <input type="radio" checked="checked" (click)="setHourly()" name="radio">
        <span class="checkmark">Hr</span>
    </label>
    <label class="container">
        <input type="radio" (click)="setDaily()" name="radio">
        <span class="checkmark">D</span>
    </label>
    <label class="container">
        <input type="radio" (click)="setWeekly()" name="radio">
        <span class="checkmark">Wk</span>
    </label>
    <label class="container">
        <input type="radio" (click)="setMonthly()" name="radio">
        <span class="checkmark">M</span>
    </label>
    <label class="container">
        <input type="radio" (click)="setYearly()" name="radio">
        <span class="checkmark">Yr</span>
    </label>
</div> -->

<div class="wrapper mt-2">
    <div class="col-sm">
        <label class="cont">
            <input type="radio" checked="checked" (click)="setHourly()" name="radio">
            <span class="checkmark">Hr</span>
        </label>
    </div>
    <div class="col-sm">
        <label class="cont">
            <input type="radio" (click)="setDaily()" name="radio">
            <span class="checkmark">D</span>
        </label>
    </div>
    <div class="col-sm">
        <label class="cont">
            <input type="radio" (click)="setWeekly()" name="radio">
            <span class="checkmark">Wk</span>
        </label>
    </div>
    <div class="col-sm">
        <label class="cont">
            <input type="radio" (click)="setMonthly()" name="radio">
            <span class="checkmark">M</span>
        </label>
    </div>
    <div class="col-sm">
        <label class="cont">
            <input type="radio" (click)="setYearly()" name="radio">
            <span class="checkmark">Yr</span>
        </label>
    </div>
</div>